$breakpoint-mobile: 480px;
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.title{
    text-align: center;
    color:brown;
    font-size: 5rem;
    padding: 2rem;
    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 3rem;
    }
}
.table {
    margin: auto;
    margin-bottom: 2rem ;
    height: 40rem;
    width: 40rem;
    border-collapse: collapse;
    @media screen and (max-width: $breakpoint-mobile) {
        height: 20rem;
        width: 20rem;
    }
    &-row:first-child {
        border-top: 3px solid brown;
    }

    &-row:nth-child(3n){
        border-bottom: 3px solid brown;
    }
    &-cell{
        padding: 0;
        border:1px solid brown;
        &--given{
            input{
                background-color: rgb(206, 241, 212);
            }
        }
    }
    &-cell:nth-child(3n) {
        border-right: 3px solid brown;
    }

    &-cell:nth-child(3n+1) {
        border-left: 3px solid brown;
    }

    &-input {
        width: 100%;
        height: 100%;
        padding:0;
        margin: 0;
        border:0;
        font-size: 2rem;
        text-align: center;
        color: brown;
        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1.5rem;
        }
        &:focus{
            outline: 3px solid brown ;
        }
    }
}

.button-container{
    text-align: center;
    
    .button{
        border:3px solid brown ;
        border-radius: 1rem;
        background-color:white;
        padding:1rem 2rem;
        font-weight: 600;
        font-size: 1.5rem;
        color: brown;
        margin: 1rem;
        cursor: pointer;
        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1rem;
            border:2px solid brown;
            padding:.5rem 1.5rem;
        }
    }
    .instructor{
        font-weight: 600;
        font-size: 1.5rem;
        color: brown;
        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1rem;
        }
    }
}